@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
#title{
    font-family: "IBM Plex Sans", "Helvetica Neue", "Segoe UI", Helvetica, Verdana, Arial, sans-serif;
	font-size: 28px;
	font-weight: 400;
}
#readarea {
    padding: 11px;
}
p {
	/* Font & Text */
	font-family: "IBM Plex Sans", "Helvetica Neue", "Segoe UI", Helvetica, Verdana, Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	text-align: start;
	text-indent: 0px;

}